
<!DOCTYPE html>
<html lang="en" style = "font-family: 'Open Sans', sans-serif;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to my personal website. Here you can see some of my projects and learn a bit about me!">
    <meta name="author" content="F. Carter Wheatley">
    <link rel="shortcut icon" href="./public/altfav.png">

    <title>F. Carter Wheatley</title>

    <link href="./public/css/bootstrap.css" rel="stylesheet">

      <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <link href = "/public/styles.css" rel = "stylesheet">
    <script src="/public/jquery-2.1.1.min.js"></script>
    <script src="./public/js/bootstrap.js"></script>
    <script src = "/public/controller.js"></script>
    <script src = "/public/jquery.sticky.js"></script>
    <script src = "/public/jquery.unveil.min.js"></script>
    <script src="/public/typed.js-master/js/typed.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47730672-1', 'fcarterwheatley.com');
  ga('send', 'pageview');

</script>
<script>
  $(function(){

    $("#typed").typed({
      strings: ["programming","engineering", "reading", "coffee","thinking"],
      typeSpeed: 80
    });

  });
  </script>

<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>

  </head>

  <body id = "top">
     <a href = "http://twitter.com/fcwheat" id = "twitter" class="fa fa-twitter fa-3x"style = "height:40px;position:absolute;top:0px;right:60px;padding:10px;"></a>
     <a href = "http://github.com/fcwheat" id = "octo" class="fa fa-github fa-3x"style = "height:40px;position:absolute;top:0px;right:110px;padding:10px;"></a>
     <a href = "http://instagram.com/fcwheat" id = "linked" class="fa fa-instagram fa-3x"style = "height:40px;position:absolute;top:0px;right:10px;padding:10px;"></a>

      <div class="row" id = "normalHeader" style = "padding-top:15px;text-align:center;">
          <div class = "header"><a style = "color:#428bca" href = "/about"> Home</a></div><!--<div class = "header"><a href = "/about"> Research</a></div>-->
      </div>
      <div class = "row" id = "smallHeader" style = "text-align:center;font-size:35px;padding:5px;" hidden>
          <div class = "col-xs-12"><a class = "active" href = "/"><span>Home</span></a></div><div class = "col-xs-12"><a href = "/about"><span> About </span></a></div><div class = "col-xs-12"><a href = "/contact"> <span> Contact </span> </a> </div>
      </div>
      <div style = "text-align:center;padding-top:30px;padding-bottom:40px;">
            <h1 style = "color:#727171;font-size:50px;">Hello, my name is Carter.</h1>
            <h1 style = "color:#727171;font-size:50px;">I enjoy <span id="typed"></span></h1>
      </div>


      <div class = "row">
        <div class = "col-xs-12 col-md-3" style = "text-align:right;padding-top:25px;">
          <div id = "navleft" style = "text-align:right;padding-top:0px;">
          <p class = "cursive"><a href = "#projects">Projects</a></p>
          <p class = "cursive"><a href = "#web">Web Dev</p>
          <p class = "cursive"><a href = "#mobile">Mobile Dev</p>
          <p class = "cursive"><a href = "#public">Publications</p>
          <p class = "cursive"><a href = "#about">About</p>
          <p class = "cursive"><a href = "#contact">Contact</p>
          <p class = "cursive"><a href = "#top">Back To Top</p>
        </div>
        </div>



        <div class = "col-md-6 col-xs-12">
          <div style = "margin-top:10px;">
            <p class = "contentHead" id = "projects" style = "text-align:left;padding-top:2px;">Projects</p>
            <h1 style = "color:#727171;font-size:50px;padding-left:60px;"> Duster </h1>
            <img class = "img-thumbnail" style = "position:relative;width:80%;display:block;margin-left:auto;margin-right:auto;" src = "public/duster_3.png">
            <blockquote style = "color:#727171;margin-left:60px;margin-top:25px;"> <!--Created by myself and Adlai Gordon at Make_BU 2014, Boston University's first hackathon. Designed to help people find the Facebook friends that they aren't actually good friends with and provides an interface for removing them. Built in 24 hours using nodejs and Facebook's Graph API. <br>--><a href = "http://dusterapp.com">dusterapp.com</a> </blockquote>
        </div>
          <div class="row">
          <div class="col-xs-12">
            <p class = "contentHead" id = "web" style = "text-align:left;">Web Development</p>
            <h1 style = "color:#727171;font-size:50px;padding-left:60px;"> Owl </h1>
            <img class = "img-thumbnail" style = "position:relative;width:80%;display:block;margin-left:auto;margin-right:auto;" src = "public/owl_1.png">
            <blockquote style = "color:#727171;margin-left:60px;margin-top:25px;"><!-- I was brought on to this project in order to fix numerous bugs that existed with the site as well as add various elements of functionality. Most of the work was in javascript but I did a bit with nodejs on the backend as well. <br>--><a href = "http://owlcad.org">owlcad.org</a> </blockquote>
          
            <h1 style = "color:#727171;font-size:50px;padding-left:60px;padding-top:15px;"> Nona </h1>
            <img class = "img-thumbnail" style = "position:relative;width:80%;display:block;margin-left:auto;margin-right:auto;" src = "public/nona_1.png">
            <blockquote style = "color:#727171;margin-left:60px;margin-top:25px;"><a href = "http://www.nonasoftawre.org">nonasoftware.org</a> </blockquote>
          
            <h1 style = "color:#727171;font-size:50px;padding-left:60px;padding-top:15px;"> Eugene </h1>
            <img class = "img-thumbnail" style = "position:relative;width:80%;display:block;margin-left:auto;margin-right:auto;" src = "public/eugene_1.png">
            <blockquote style = "color:#727171;margin-left:60px;margin-top:25px;"><a href = "http://www.eugenecad.org">eugenecad.org</a> </blockquote>
          
            <h1 style = "color:#727171;font-size:50px;padding-left:60px;padding-top:15px;"> BDAC </h1>
            <img class = "img-thumbnail" style = "position:relative;width:80%;display:block;margin-left:auto;margin-right:auto;" src = "public/bio_1.png">
            <blockquote style = "color:#727171;margin-left:60px;margin-top:25px;"><a href = "http://biodac.herokuapp.com/">biodac.com</a> </blockquote>
          
            <p class = "contentHead" id = "mobile" style = "text-align:left;">Mobile Development</p>
            <h1 style = "color:#727171;font-size:50px;padding-left:60px;"> Lantern </h1>
            <img class = "img-thumbnail" style = "position:relative;width:80%;display:block;margin-left:auto;margin-right:auto;" src = "public/lantern_1.png">
            <blockquote style = "color:#727171;margin-left:60px;margin-top:25px;"><!-- I was brought on to this project in order to fix numerous bugs that existed with the site as well as add various elements of functionality. Most of the work was in javascript but I did a bit with nodejs on the backend as well. <br>--><a href = "https://play.google.com/store/apps/details?id=com.me.ec327lantern">Google Play Store: Lantern</a> </blockquote>

          <p class = "contentHead" id = "public" style = "text-align:left;">Publications</p>
            <blockquote style = "color:#727171;margin-left:60px;margin-top:25px;"><a href = "http://proceedings.spiedigitallibrary.org/proceeding.aspx?articleid=1863956" >Constructing 3D models of the pediatric upper airway from long range optical coherence tomography images </a></blockquote>
          <blockquote style = "color:#727171;margin-left:60px;margin-top:25px;"><a href = "http://archfaci.jamanetwork.com/article.aspx?articleid=1828516#Methods" >  Analyzing Nasal Septal Deviations to Develop a New Classification System: A Computed Tomography Study Using MATLAB and OsiriX</a></blockquote>


          <p class = "contentHead" id = "about" style = "text-align:left;">About Me</p>
<div class="row"><div class="col-md-6 col-xs-12" style = "">
    <div class="row">
        <div class="col-xs-12" style = "padding-top:40px;">
            <p class = "cursiveA" style = "text-align:center;">Name</p>
          </div> 

        </div>
      <div class="row">
          <div class="col-md-12 col-sm-12" style = "text-align:center;">
                <p style = "font-size: 30px; color:#aaa;">F. Carter Wheatley</p>
  </div>
</div>
</div>
<div class="col-md-6 col-xs-12" style = "margin-top:10px;">

    <div class="row">
        <div class="col-xs-12" style = "padding-top:30px;">
            <p class = "cursiveA" style = "text-align:center;">Age</p>
          </div> 

        </div>
      <div class="row">
          <div class="col-md-12 col-sm-12" style = "text-align:center;">
                <p style = "font-size: 30px; color:#aaa;">21</p>
  </div>
</div>
</div>
</div>

<div class="row"><div class="col-md-6 col-xs-12">
    <div class="row">
        <div class="col-xs-12" style = "padding-top:30px;">
            <p class = "cursiveA" style = "text-align:center;">From</p>
          </div> 

        </div>
      <div class="row">
          <div class="col-md-12 col-sm-12" style = "text-align:center;">
              <img class = "img-responsive" src = "/public/chitown.jpeg" style = "display:block;margin-left:auto;margin-right:auto;height:120px;margin-top:-10px;margin-bottom:20px;">

  </div>
</div>
</div>
<div class="col-md-6 col-xs-12">

    <div class="row">
        <div class="col-xs-12" style = "padding-top:30px;">
            <p class = "cursiveA" style = "text-align:center;">Attend</p>
          </div> 

        </div>
      <div class="row">
          <div class="col-md-12 col-sm-12" style = "text-align:center;">
          <img class = "img-responsive" src = "/public/bu.jpeg" style = "display:block;margin-left:auto;margin-right:auto;height:100px;margin-top:12px;">
  </div>
</div>
</div>
</div>

<div class="row"><div class="col-md-6 col-xs-12">
    <div class="row">
        <div class="col-xs-12" style = "padding-top:30px;">
            <p class = "cursiveA" style = "text-align:center;">Graduate</p>
          </div> 

        </div>
      <div class="row">
          <div class="col-md-12 col-sm-12" style = "text-align:center;">
                <p style = "font-size: 30px; color:#aaa;">2015</p>
  </div>
</div>
</div>
<div class="col-md-6 col-xs-12">

    <div class="row">
        <div class="col-xs-12" style = "padding-top:30px;">
            <p class = "cursiveA" style = "text-align:center;">Study</p>
          </div> 

        </div>
      <div class="row">
          <div class="col-md-12 col-sm-12" style = "text-align:center;">
                <p style = "font-size: 30px; color:#aaa;">Computer Engineering</p>
  </div>
</div>
</div>
</div>

<div class="row"><div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12" style = "padding-top:30px;">
            <p class = "cursiveA" style = "text-align:center;">Use</p>
          </div> 

        </div>
      <div class="row">
          <div class="col-md-12 col-sm-12" style = "text-align:center;">
              <img class = "img-responsive" src = "/public/tech.jpeg" style = "display:inline;margin-left:auto;margin-right:auto;height:120px;margin-top:0px;margin-bottom:20px;">
              <img src = "/public/node.jpeg" style = "display:inline;margin-left:auto;margin-right:auto;height:120px;margin-top:0px;margin-bottom:20px;">
              <img src = "/public/cplpl.jpeg" style = "display:inline;margin-left:auto;margin-right:auto;height:120px;margin-top:0px;margin-bottom:20px;">
              <img src = "/public/python.jpeg" style = "display:inline;margin-left:auto;margin-right:auto;height:120px;margin-top:0px;margin-bottom:20px;">

  </div>
</div>
</div>

</div>



<div class="row"><div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12" style = "padding-top:30px;">
            <p class = "cursiveA" style = "text-align:center;">Read</p>
          </div> 

        </div>
      <div class="row">
          <div class="col-md-12 col-sm-12" style = "text-align:center;">
              <img src = "/public/hem2.jpg" style = "display:inline;margin-left:auto;margin-right:auto;height:170px;margin-top:0px;margin-bottom:20px;">
              <img src = "/public/hem3.jpeg" style = "display:inline;margin-left:auto;margin-right:auto;height:170px;margin-top:0px;margin-bottom:20px;">
              <img src = "/public/tolst1.jpeg" style = "display:inline;margin-left:auto;margin-right:auto;height:170px;margin-top:0px;margin-bottom:20px;">
              <img src = "/public/fitz1.jpeg" style = "display:inline;margin-left:auto;margin-right:auto;height:170px;margin-top:0px;margin-bottom:20px;">
              <img src = "/public/crime1.jpg" style = "display:inline;margin-left:auto;margin-right:auto;height:170px;margin-top:0px;margin-bottom:20px;">

  </div>
</div>
</div>

</div>








          </div>
        </div>
                    <p class = "contentHead" id = "contact" style = "text-align:left;padding-top:10px;">Contact Info</p>
            <blockquote style = "color:#727171;margin-left:60px;margin-top:25px;font-size:30px;"> fwheat[at]bu.edu </blockquote>
       
             <p class = "contentHead" style = "text-align:left;padding-top:10px;">Twitter Feed</p>

      
      <div class="row">
        <div class="col-xs-12" style = "text-align:center;">
          <a class="twitter-timeline" href="https://twitter.com/fcwheat" data-widget-id="451411099783397376">Tweets by @fcwheat</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
 


          <p class = "contentHead" style = "text-align:left;padding-top:10px;">Instagram Photos</p>
            <div style = "text-align:center">
               <img class = "insta_ham" src = "http://distilleryimage9.ak.instagram.com/0bf1ef824bc011e2876222000a9f0a1b_7.jpg" >
       
              <img class = "insta_ham" src = "http://distilleryimage10.ak.instagram.com/7af5d97c969a11e382b512617d8fdbd6_8.jpg" >
 
               <img class = "insta_ham" src = "http://distilleryimage6.ak.instagram.com/94f0d370b1be11e28df322000a1f9367_7.jpg" >
     
    </div>
 
    

    <!-- footer -->
<div class="row">
  <div class="col-xs-12"style = "padding-top:30px;padding-bottom:30px;">
    <hr>
      <p class = "cursive" style = "float:right;font-size: 15px; color:#aaa;">&copy; Carter Wheatley, 2014</p>
  </div>  
</div>
 
  </div>
    <!--Projects tab-->
 
 <!-- /container -->
</div>



  </body>
  <script>
if ($(window).width() < 770) {
  console.log('her');
    $('#smallHeader').show();
    $('#normalHeader').hide();
} 
</script>

</html>