        .insta_ham
        {
          height: 28%;
          width: 28%;
          position:relative;
          bottom:0px;
          opacity: .8;
          margin-right: auto;
          margin-left:auto;
        }