        .img-polaroid {
              padding: 4px;
              background-color: #fff;
              border: 1px solid #ccc;
              border: 1px solid rgba(0,0,0,0.2);
              border-radius: 50%;
              -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
              -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
              box-shadow: 0 1px 3px rgba(0,0,0,0.1);
              }
        .footer{
          color: #8C8C78;
          margin-top: -10px;
          float: left;
        }

#typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite; }

@-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }


        .linked{
        height: 40px;
        width: 45px;
        float:right;
        padding-bottom: 10px;
        padding-right:10px;
      
        }

        .insta_ham
        {
          height: 28%;
          display:inline;
          width: 28%;
          position:relative;
          bottom:0px;
          opacity: .8;
          margin-right: auto;
          margin-left:auto;
        }

        .contentHead{
          font-size: 50px;
          font-family: Lobster,cursive;
          font-weight: bold;
          color:#428bca;
          padding-left: 40px;
          padding-top:10px;
        }


        p{
          font-size: 18px;
          color: #483C40;
        }

        body{
          font-family: 'Istok Web', sans-serif;
        }

        .web{
          margin:10px;
        }

        a span{
          background:#fff; 
          padding:0 8px;
          margin: 0 0px 0 0px;
        }

        a:hover{
          text-decoration: none;
        }


        td {
          padding: 0;
          border-spacing: 0;
          border-collapse: collapse;
          border: 5px solid black;
        }

        .cursive {
          font-family: Lobster,cursive;
          font-size: 22px;
          font-weight: bold;
          color:#428bca;
        }

        .cursiveA{
          font-family: Lobster,cursive;
          font-size: 30px;
          font-weight: bold;
          color:#428bca;

        }

        .active a{
          color: #428bca;

        }


        .header{
         color: #BDBDBD;
         text-align:center;
         font-size:20px;
         display:inline-block;
         padding:15px;
        }

        .header a{
          color: #BDBDBD;
          text-decoration: none;
          -webkit-transition:background 5s;
          -moz-transition:background 5s;
          -o-transition:background 5s;
          transition:background 5s
        }
        .header a:hover{
          color:#428bca;
        }

        #octo{
          color:#aaa;
        }
        #octo:hover{
          color:#7fb0d8;
          text-decoration: none;
        }
        #twitter{
          color:#aaa;
        }
        #twitter:hover{
          color:#7fb0d8;
          text-decoration: none;
        }
        #linked{
          color:#aaa;
        }
        #linked:hover{
          color:#7fb0d8;
          text-decoration: none;
        }

