        .img-polaroid {
              padding: 4px;
              background-color: #fff;
              border: 1px solid #ccc;
              border: 1px solid rgba(0,0,0,0.2);
              border-radius: 50%;
              -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
              -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
              box-shadow: 0 1px 3px rgba(0,0,0,0.1);
              }
        .footer{
          color: #8C8C78;
          margin-top: -10px;
          float: left;
        }

#typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite; }

@-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }


        .linked{
        height: 40px;
        width: 45px;
        float:right;
        padding-bottom: 10px;
        padding-right:10px;
      
        }

        .insta_ham
        {
          height: 28%;
          display:inline;
          width: 28%;
          position:relative;
          bottom:0px;
          opacity: .8;
          margin-right: auto;
          margin-left:auto;
        }

        .contentHead{
          color:#727171;
          font-size: 40px;
          padding-left: 40px;
          padding-top:2px;
        }


        p{
          font-size: 18px;
          color: #483C40;
        }

        body{
          font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .web{
          margin:10px;
        }

        a span{
          background:#fff; 
          padding:0 8px;
          margin: 0 0px 0 0px;
        }

        a:hover{
          text-decoration: none;
        }


        td {
          padding: 0;
          border-spacing: 0;
          border-collapse: collapse;
          border: 5px solid black;
        }



        .cursiveA{
          
          font-size: 30px;
          
          color:#79B3AF;
        }

        .act a{
          color: red;

        }

        .header{
         text-align:center;
         font-size:18px;
         display:inline-block;
         padding:15px;
        }

        .header a{
          color:#ccc;
        }

       
        .header a:hover{
          color: #79B3AF;
          text-decoration: none;
        }

        #octo{
          color:#aaa;
        }
        #octo:hover{
          color:#79B3AF;
          text-decoration: none;
        }
        #twitter{
          color:#aaa;
        }
        #twitter:hover{
          color:#79B3AF;
          text-decoration: none;
        }
        #linked{
          color:#aaa;
        }
        #linked:hover{
          color:#79B3AF;
          text-decoration: none;
        }


        /* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

        .cursive {
          
          font-size: 22px;
          font-weight: lighter;
          color:#428bca;
        }

.title{
            font-size: 24px;
          color:#727171;

}
.date{
  font-size:16px;
  font-weight: lighter;
  color:#aaa;
}

.image{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border-radius: 5px;
  width:80%;

}
.sources{
  color:#aaa;
  font-size: 14px;
}
.source{
  text-align: center;
  margin-bottom: 20px;
  color:#aaa;
}
       

