        .img-polaroid {
              padding: 4px;
              background-color: #fff;
              border: 1px solid #ccc;
              border: 1px solid rgba(0,0,0,0.2);
              border-radius: 50%;
              -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
              -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
              box-shadow: 0 1px 3px rgba(0,0,0,0.1);
              }
        .footer{
          color: #8C8C78;
          margin-top: -10px;
          float: left;
        }


        .linked{
        height: 40px;
        width: 45px;
        float:right;
        padding-bottom: 10px;
        padding-right:10px;
      
        }

        .insta_ham
        {
          height: 28%;
          display:inline;
          width: 28%;
          position:relative;
          bottom:0px;
          opacity: .8;
          margin-right: auto;
          margin-left:auto;
        }


        p{
          font-size: 18px;
          color: #483C40;
        }

        body{
          font-family: 'Istok Web', sans-serif;
        }

        .web{
          margin:10px;
        }

        a span{
          background:#fff; 
          padding:0 8px;
          margin: 0 0px 0 0px;
        }

        .col-xs-3 {
          padding-left: 30px;
        }

        td {
          padding: 0;
          border-spacing: 0;
          border-collapse: collapse;
          border: 5px solid black;
        }

        .cursive {
          font-family: Lobster,cursive;
          font-size: 40px;
          font-weight: bold;
          color:#428bca;
        }

        .active {
          color: #2a6496;
            text-decoration: underline;
        }

        #octo{
          color:#aaa;
        }
        #octo:hover{
          color:#7fb0d8;
          text-decoration: none;
        }
        #twitter{
          color:#aaa;
        }
        #twitter:hover{
          color:#7fb0d8;
          text-decoration: none;
        }
        #linked{
          color:#aaa;
        }
        #linked:hover{
          color:#7fb0d8;
          text-decoration: none;
        }

